
 

<form method="post" action="login.php">
    <fieldset>
    
    <br>
    <label>Ime:</label>
    <input type="text" name="korisnicko"  />
    <label>Prezime:</label>
    <input type="text" name="Prezime"  >
    <label>Lozinka:</label>
    <input type="password" name="lozinka" value="" />
    <legend>Uloguj se</legend>
    
    <br>
    
    
    
    <input type="radio" name="status" value="direktor"> Direktor<br>
     <input type="radio" name="status" value="admin"> Admin<br>
     <input type="radio" name="status" value="profesor"> Profesor<br>  
     <input type="radio" name="status" value="ucitelj"> Ucitelj<br>
     <input type="radio" name="status" value="roditelj"> Roditelj<br>
    
     <input type="hidden" name="form_id" value="login">
    
     <input type="submit" name="submit" value="Uloguj se" />
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </fieldset></form>
    
    
    
     